@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
* { font-family: 'Oxygen', sans-serif; }

.listItem {
    height: fit-content;
    width: 400px;
    margin-bottom: 10px;
    border-radius: 4px; 
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-content:space-between;
    

    background: #FFFFFF;
    border: 1px solid #AAAAAA;
    box-sizing: border-box;
    border-radius: 4px;
  }
  
  .container{
    width: 400px;
  }

  .containerTreatment{
    width: 400px;
    /*border: 2px solid rosybrown;*/
  }

.box1{
    display: flex;
}
.header{
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;

    color: #000000;
}
.infoicon{
    background: #ffffffbb;
}
.template{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;
    text-decoration-line: underline;
    
    color: #444444;
}
.emptySpace{
    width: 170px;
}
.box2{
    height: fit-content;
    width: 400px;
    left: 0px;
    top: 0px;
    margin-top: 16px;
    border-radius: 4px;
    
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;    
}
.box3{
    width: 400px;
    height: max-content;
    margin-top: 7px;
    background: #FFFFFF;
    display: flex;
}


.textbox{
    width: 400px;
    height: 40px;
    position: absolute;
    margin-top: 17px;
    background: #FFFFFF;
    border: 1px solid #AAAAAA;
    box-sizing: border-box;
    border-radius: 4px;
}

.paragraph{
  margin-bottom: 5px;
  width: 480px;
  
}

table,th,td{
  border: 1px solid #444444;
  border-collapse: collapse;
}
  